* {
  margin: 0;
  padding: 0;
  font-family: "Sanseriffic", serif;
}

// @font-face {
//   font-family: "Sanseriffic";
//   src: url("C:/Users/Desktop/Portfolio/my-workout/src/fonts/Sanseriffic");
// }

// home page styling

.homepage-container {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

// header styling

.header-container {
  width: 65%;
  padding: 1% 0%;
  margin: 2% 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 35px;
  border: 0.1em solid #5ce7ff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  h1 {
    letter-spacing: 0.5em;
    font-size: 2vw;
  }
}

// weekly board styling

.weekly-board-container {
  min-height: 50%;
  width: 95%;
  display: flex;
  justify-content: center;
  border-radius: 35px;
  border: 0.1em solid #5ce7ff;
  box-shadow: rgba(50, 50, 93, 0.25) 10px 10px 10px -5px inset,
    rgba(0, 0, 0, 0.1) 10px 18px 10px -18px inset;
  background-color: #f5f5f5;

  .weekly-grid-layout {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    // align-items: center;
    margin-top: 3%;

    .col {
      height: 80%;

      display: flex;
      flex-direction: column;
      align-items: center;

      .header-box {
        width: 80%;
        height: 13%;
        border-radius: 12px;
        background-color: rgba(211, 211, 211, 0.3);
        border: 0.05em solid #acabab;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 17%;

        h1 {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.1vw;
          letter-spacing: 0.4em;
          font-weight: 100;
          text-align: center;
          max-width: 100%;
          padding-left: 5%;
        }
      }

      // styling for small program tabs

      .mini-card-holder {
        // background-color: #5ce7ff;
        height: 80%;
        width: 100%;
        border-right: 0.1em solid rgba(177, 177, 177, 0.5);
        display: flex;
        justify-content: center;

        .program-title {
          font-size: medium;
        }

        .exercise-tab {
          height: 17%;
          width: 95%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgba(211, 211, 211, 0.3);
          border-radius: 15px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          border: 0.05em solid #acabab;
          contain: strict;
          margin-bottom: 2%;

          .exercise-tab-inputs {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .exercise-title {
              height: 100%;
              width: 50%;
              display: flex;
              justify-content: flex-start;
              background-color: rgba(0, 0, 0, 0);
              border-radius: 15px;
              border: none;
              font-size: x-small;
            }

            .sets-tab {
              height: 80%;
              width: 20%;
              display: flex;
              justify-content: space-evenly;
              background-color: rgba(211, 211, 211, 0.3);
              border-radius: 15px;
              box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
              border: 0.05em solid #acabab;
              contain: strict;
              font-size: xx-small;
              align-items: center;
              padding-left: 1%;
              margin-right: 4%;

              input {
                background-color: rgba(0, 0, 0, 0);
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: xx-small;
              }
            }
            .reps-tab {
              height: 80%;
              width: 20%;
              display: flex;
              justify-content: space-evenly;
              background-color: rgba(211, 211, 211, 0.3);
              border-radius: 15px;
              box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
              border: 0.05em solid #acabab;
              contain: strict;
              font-size: xx-small;
              align-items: center;
              padding-left: 1%;

              input {
                background-color: rgba(0, 0, 0, 0);
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: xx-small;
              }
            }
          }
        }

        .duration-tab {
          font-size: 0.5em;
        }
      }

      // removing the borderline on the last column (sunday)
      .no-border {
        border: none;
      }
    }
  }
}

// plan it section + mini card styling for it.

.plan-it-container {
  width: 95%;

  h1 {
    width: 100%;

    padding: 2% 3% 1% 3%;
    font-size: 1.9vw;
    letter-spacing: 0.4em;
    font-weight: 100;
    text-decoration: underline 0.05em #5ce7ff;
  }

  .plan-it-grid {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    flex-grow: unset;

    align-items: center;
    padding-bottom: 2%;

    .exercise-tab {
      height: 12%;
      width: 95%;

      .exercise-tab-inputs {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .sets-tab {
          height: 75%;
        }
      }
    }

    .add-program-icon {
      cursor: pointer;

      &:hover {
        svg {
          height: 14%;
          width: 13%;
        }

        &:active {
          svg {
            height: 12%;
            width: 11%;
          }
        }
      }
    }
  }
}

.mini-card-container {
  height: 80%;
  min-height: 150px;
  width: 85%;
  background-color: rgba(211, 211, 211, 0.3);
  border-radius: 15px;
  border: 0.05em solid #5ce7ff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  justify-self: center;
  padding: 6% 2%;
  margin: 15% 0%;

  .program-title {
    height: 17%;
    width: 95%;
    background-color: rgba(211, 211, 211, 0.3);
    border: 0.05em solid #d3d3d3;

    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: x-large;
    letter-spacing: 0.3em;
    margin-bottom: 5%;
  }
  input {
    text-align: center;
  }
  .exercise-tabs {
    height: 70%;
    width: 100%;
    overflow: scroll;
    margin-bottom: 4%;
    position: relative;
    left: 2%;

    .exercise-note {
      display: none;
    }
  }

  .duration-tab {
    height: 8%;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(211, 211, 211, 0.3);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 0.05em solid #acabab;
    font-size: x-small;
  }
}

// exercise tab styling

.exercise-tab {
  height: 40%;
  width: 95%;
  display: grid;
  grid-template-columns: 1fr;

  justify-content: center;
  align-items: center;
  background-color: rgba(211, 211, 211, 0.3);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 0.05em solid #acabab;
  contain: strict;
  margin-bottom: 2%;

  .exercise-tab-inputs {
    display: flex;
    height: 55%;
    width: 100%;

    .exercise-title {
      height: 100%;
      width: 50%;
      display: flex;
      justify-content: flex-start;
      background-color: rgba(0, 0, 0, 0);
      border-radius: 15px;
      border: none;
      margin-left: 1%;
    }

    .sets-tab {
      height: 80%;
      width: 20%;
      display: flex;
      justify-content: space-evenly;
      background-color: rgba(211, 211, 211, 0.3);
      border-radius: 15px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border: 0.05em solid #acabab;
      contain: strict;
      font-size: small;
      align-items: center;
      padding-left: 1%;
      margin-right: 3%;
      margin-left: 2%;

      input {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .reps-tab {
      height: 80%;
      width: 20%;
      display: flex;
      justify-content: space-evenly;
      background-color: rgba(211, 211, 211, 0.3);
      border-radius: 15px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border: 0.05em solid #acabab;
      contain: strict;
      font-size: small;
      align-items: center;
      padding-left: 1%;

      input {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .drop-down-arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0% 1.5%;
      svg {
        height: 70%;
        width: 70%;
        cursor: pointer;
      }

      //   margin: 1%;
    }
  }

  .exercise-note {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;

    input {
      width: 97%;
      height: 99%;

      border-radius: 15px;
      border: 0.5px solid #acabab;

      text-align: start;
      padding-left: 1%;
      background-color: rgba(211, 211, 211, 0.3);
    }

    .delete-exercise {
      display: flex;
      justify-content: center;
      align-self: flex-end;
      margin: 1% 2% 1% 0%;

      svg {
        cursor: pointer;
      }
    }
  }
}

// styling for adding new program tab big tab

.card-container {
  position: absolute;
  left: 34%;
  top: 25%;
  height: 68%;
  min-height: 150px;
  width: 30%;
  background-color: rgb(244, 244, 244);
  border-radius: 15px;
  border: 0.05em solid #5ce7ff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  justify-self: center;
  padding: 1% 0.5%;

  .program-title {
    height: 17%;
    width: 95%;
    background-color: rgba(211, 211, 211, 0.3);
    border: 0.05em solid #d3d3d3;

    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: xx-large;
    letter-spacing: 0.3em;
    margin-bottom: 3%;
  }
  input {
    text-align: center;
  }

  .week-day-tabs {
    display: flex;
    grid-template-columns: 7fr;
    justify-content: center;
    align-items: center;
    height: 5%;
    width: 94%;
    margin-bottom: 2%;

    .day-tab {
      height: 80%;
      width: 20%;
      display: flex;
      justify-content: space-evenly;
      background-color: rgba(211, 211, 211, 0.8);
      border-radius: 15px;
      box-shadow: rgba(0, 0, 0, 0.65) 0px 3px 8px;
      border: 0.05em solid #acabab;
      contain: strict;
      font-size: small;
      align-items: center;
      margin: 0% 1%;
      cursor: pointer;

      &:hover {
        position: relative;
        top: -3.5%;
        box-shadow: rgba(0, 0, 0, 1) 0px 3px 8px;
      }

      &:active {
        position: relative;
        top: 3.5%;
      }
    }
  }

  .exercise-tabs {
    height: 70%;
    width: 100%;
    margin-bottom: 1.5%;
    overflow: scroll;

    margin-left: 4.5%;
  }

  .exercise-tab {
    height: 10%;
  }

  .add-exercise {
    height: 7%;
    width: 95%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 3px 8px;
    border: 0.5px solid #acabab;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.6) 0px 3px 8px;
      position: relative;
      top: -0.5%;
    }
    &:active {
      position: relative;
      top: 0.1%;
    }
  }

  .confirm-btn {
    height: 9%;
    width: 35%;
    margin-bottom: 3%;
    background-color: rgba(92, 231, 255, 0.3);
    border-radius: 10px;
    font-size: large;
    letter-spacing: 0.25em;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 3px 8px;
    border: 0.05em solid #acabab;

    &:hover {
      background-color: rgba(92, 231, 255, 0.5);
      box-shadow: rgba(0, 0, 0, 0.6) 0px 3px 8px;
      position: relative;
      top: -0.5%;
    }
    &:active {
      position: relative;
      top: 0.1%;
    }
  }

  .duration-tab {
    height: 7%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(211, 211, 211, 0.3);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 0.05em solid #acabab;
    font-size: x-small;
  }

  .exercise-note {
    width: 100%;
    height: 100%;

    // display: flex;
    // transition: all 1.2s ease-in-out;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;

    input {
      width: 97%;
      height: 99%;

      border-radius: 15px;
      border: 0.5px solid #acabab;

      text-align: start;
      padding-left: 1%;
      background-color: rgba(211, 211, 211, 0.3);
    }

    .delete-exercise {
      display: flex;
      justify-content: center;
      align-self: flex-end;
      margin: 1% 2% 1% 0%;

      svg {
        cursor: pointer;
      }
    }
  }

  // adds notes to exercise tabs
  .open-notes {
    display: flex;
    // transition: all 1.2s ease-in-out;
  }

  // resizes exercise tab to accom for notes
  .tab-resize {
    height: 40%;
  }
}
